@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center row">
    

    <div class="col-6">
        <a asp-controller="People" asp-action="Index" type="submit" class="btn btn-primary" style="width:150px">Add People</a>
    </div>
    <div class="col-6">
        <a asp-controller="" asp-action="" type="submit" class="btn btn-primary" style="width:150px">View People</a>
    </div>

</div>
